<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/favicon" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav>
            <a href="/">Início</a>
            <a href="/search">Pesquisar</a>
            <a href="/user">Cadastre-se</a>
        </nav>
    </header>
    <section>
        <main>
            <h1>Olá, mundo!</h1>
            <a href="/user/listar">
                <button type="submit">Usuários</button>
            </a>
        </main>
    </section>
</body>

</html>